<ul class="header-container">
  <li class="header-link">{{#link-to 'home'}}ac{{/link-to}}</li>
  <li class="header-link">{{#link-to 'projects'}}projects{{/link-to}}</li>
  <li class="header-link">{{#link-to 'about'}}about{{/link-to}}</li>
</ul>

{{yield}}
