@import 'reset.css';
@import 'projects.css';
@import 'home.css';
@import 'about.css';

body {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
}

a:visited {
  color: inherit;
}

table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

td {
  width: 200px;
  margin: 5px;
  overflow: auto;
  text-align: center;
}

img {
  border-radius: 5px;
}

li {
  list-style: none;
}

h1 {
  font-size: 20px;
  margin: 10px auto;
}
