<div class="projects-container">
  <div class="highlighted-projects-container">
    <h1>Highlight Projects</h1>
  </div>
  <div class="github-projects-container">
    <h1>Github Projects</h1>
  </div>
</div>

{{outlet}}
