{{nav-bar}}

  <div class="about-container">
    <h1>about the site</h1>
    <br>
    <p>am i pretty?<br><br> no. my developer built me using ember. he wanted to simply focus on the framework, not styling.<br><br><span class="site-thoughts">(when he remakes me in a few months, i do hope he gives me snazzier clothes.)</span><br><br>highlighted projects are hardcoded in the projects route and rendered dependent on params.
    <br><br>
    list of github projects utilizes the github api and are all rendered dynamically.
    </p>
  </div>

{{outlet}}
