{{nav-bar}}

  <div class="about-container">
    <h1>about the site</h1>
    <br>
    <p>am i pretty?<br><br> no. my developer built me using ember. he wanted to simply focus on the framework, not styling.<br>
    </p>
  </div>

{{outlet}}
