{{nav-bar}}

  <div class="about-container">
    <h1>about the site</h1>
    <br>
    <p>currently, i'm built in ember, deployed via firebase.<br><br>highlighted projects are hardcoded in the projects route, rendered dependent on params, and utilize ember's each method.
    <br><br>
    github projects utilize the github api and are all rendered dynamically.
    </p>
  </div>

{{outlet}}
