{{nav-bar}}

<div class="home-container">
  <img class="avatar" src={{content.avatar_url}} alt="github avatar" >
  <p><br>⬆<br><br>this is me.<br><br>well, that's how i look in my github profile.<br><br>my hair is a little longer now.<br><br>and that shirt, it's somewhere in colorado.<br><br><br><br>i'm a software engineer<br><br>focused on frontend and backend development.</p>
</div>

{{outlet}}
