<ul class="header-container">
  <li class="header-title">{{#link-to 'home'}}Andrew Crist{{/link-to}}</li>
  <li class="header-link">{{#link-to 'home.projects'}}Projects{{/link-to}}</li>
</ul>

{{outlet}}
